@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Avaliação .NET</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Juliana Amparo</h2>
        
    </div>
    
</div>